.fondo {
  background: url(../img/fondo.desktop.jpeg) no-repeat fixed center center;
  background-size: cover; }
  .fondo #titulo {
    font-family: 'Sarpanch', sans-serif;
    font-size: 100px;
    text-align: center;
    color: red;
    margin-top: 300px; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      .fondo #titulo {
        display: block;
        margin-top: 450px;
        justify-content: center;
        text-align: center; } }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .fondo {
      width: 460px;
      height: 100%; } }

header {
  padding: 15px 50px 0px 50px;
  text-align: center;
  justify-content: space-around;
  align-items: center; }
  header nav li {
    display: inline-block;
    text-align: center;
    width: 15%; }
    header nav li a {
      color: red;
      font-weight: bold;
      font-family: 'Gaegu', cursive; }
  header nav a {
    text-decoration: none;
    list-style-type: none;
    font-size: x-large; }
  @media screen and (min-width: 320px) and (max-width: 1440px) {
    header .navbar {
      visibility: hidden; } }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    header .navbar {
      visibility: visible; }
    header .nav-link {
      font-size: x-large;
      font-weight: bold;
      color: red; }
    header .menu {
      display: none; }
    header .navbar-toggler {
      color: red; } }

main .carrusel {
  display: flex;
  align-content: center;
  justify-content: center; }

main .btn-group {
  padding: 20px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  transition-property: width;
  transition-duration: 2s; }

main .parrafo {
  display: block;
  align-content: center;
  text-align: center;
  justify-content: center; }
  main .parrafo li {
    color: red;
    font-weight: bold;
    font-family: 'Gaegu', cursive;
    display: inline-block;
    font-size: x-large;
    text-align: center; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      main .parrafo li {
        font-size: medium;
        display: block;
        align-content: center;
        justify-content: center; } }
  main .parrafo .boton {
    display: flex;
    align-content: center;
    justify-content: center; }

main .btn {
  color: red;
  font-weight: bold;
  font-family: 'Gaegu', cursive;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: x-large;
  width: auto;
  transition-timing-function: ease-in-out; }
  main .btn:is(:hover, :focus) {
    width: 50%; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    main .btn {
      font-size: medium; } }

.mainConteiner #video {
  padding: 15px 0px;
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner #video iframe {
      width: 460px;
      height: 200px; } }

.mainConteiner .tracks {
  text-align: center;
  align-items: center;
  align-self: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner .tracks {
      display: none; } }
  .mainConteiner .tracks li {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    width: 400px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px; }

.mainConteiner .tracksMobile {
  text-align: center;
  align-items: center;
  align-self: center; }
  @media screen and (min-width: 320px) and (max-width: 1440px) {
    .mainConteiner .tracksMobile {
      display: none; } }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner .tracksMobile {
      display: inline-block;
      align-items: center;
      justify-content: center;
      width: 460px; }
    .mainConteiner .tracksMobile iframe {
      padding: 15px 0px; } }
  .mainConteiner .tracksMobile li {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    width: 300px;
    height: 30px;
    padding-left: 50px;
    padding-right: 50px; }

.mainConteiner #descarga {
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner #descarga {
      width: 460px; } }
  .mainConteiner #descarga .logo {
    padding: 0px 10px;
    width: 35px;
    height: 35px;
    text-decoration: none;
    list-style-type: none;
    font-size: x-large; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      .mainConteiner #descarga .logo {
        height: 25px;
        width: 45px; } }

.mainConteiner .descargar {
  color: red;
  font-weight: bold;
  padding-top: 20px;
  font-size: xx-large;
  font-family: 'Sarpanch', sans-serif;
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner .descargar {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 460px; } }

main #merch {
  width: 70%;
  text-align: center;
  justify-content: center; }
  main #merch #merchForm {
    color: red;
    font-weight: bold;
    font-family: 'Gaegu', cursive;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 15px;
    margin-bottom: 30px; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      main #merch #merchForm {
        font-size: medium;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        align-items: center; } }
    main #merch #merchForm .buttonMerch {
      display: inline;
      color: red;
      font-weight: bold;
      font-family: 'Gaegu', cursive;
      text-align: center;
      font-size: x-large;
      border: 10px;
      border-color: red;
      border-radius: 5px; }
      @media screen and (min-width: 0px) and (max-width: 460px) {
        main #merch #merchForm .buttonMerch {
          font-size: medium; } }

main div .card {
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24); }
  main div .card:is(:hover, :focus) {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px); }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    main div .card {
      width: 75%; } }
  main div .card .card-title {
    font-family: 'Gaegu', cursive;
    text-align: center;
    color: red; }

@media screen and (min-width: 0px) and (max-width: 460px) {
  main .col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; } }

.container div .texto {
  color: red;
  font-weight: bold;
  font-family: 'Gaegu', cursive;
  display: inline-block;
  font-size: x-large;
  text-align: center; }
  .container div .texto .btn {
    color: red;
    font-weight: bold;
    font-family: 'Gaegu', cursive;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
    width: auto;
    transition-timing-function: ease-in-out; }
    .container div .texto .btn:is(:hover, :focus) {
      width: 50%; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      .container div .texto .btn {
        font-size: medium; } }

.footer2 {
  padding: 10px 20px;
  display: flex;
  text-align: center;
  justify-content: space-evenly; }
  .footer2 .logo {
    width: 45px;
    height: 30px; }
    .footer2 .logo:is(:hover, :focus) {
      animation: pulse;
      animation-duration: 2s; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .footer2 footer {
      display: none; } }

* {
  padding: 0%;
  margin: 0%; }
