.fondo {
  background: url(../img/fondo.desktop.jpeg) no-repeat fixed center center;
  background-size: cover; }
  .fondo #titulo {
    font-family: "Sarpanch", sans-serif;
    font-size: 100px;
    text-align: center;
    color: red;
    margin-top: 300px; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      .fondo #titulo {
        display: block;
        margin-top: 450px;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        align-self: center; } }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .fondo {
      width: 460px;
      height: 100%; } }

header, .footer2 {
  padding: 15px 50px 0px 50px;
  text-align: center;
  justify-content: space-around;
  align-items: center; }
  header nav li, .footer2 nav li {
    display: inline-block;
    text-align: center;
    padding: 0 35px; }
    header nav li a, .footer2 nav li a {
      color: red;
      font-weight: bold;
      font-family: 'Gaegu', cursive; }
  header nav a, .footer2 nav a {
    text-decoration: none;
    list-style-type: none;
    font-size: x-large; }
  @media screen and (min-width: 460px) and (max-width: 1440px) {
    header .navbar, .footer2 .navbar {
      visibility: hidden; } }
  @media screen and (min-width: 460px) and (max-width: 768px) {
    header header nav, .footer2 header nav, header .footer2 nav, .footer2 .footer2 nav {
      display: inline-flex;
      text-align: center; } }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    header .navbar, .footer2 .navbar {
      visibility: visible; }
      header .navbar .nav-link, .footer2 .navbar .nav-link {
        font-size: x-large;
        font-weight: bold;
        color: red; }
    header .menu, .footer2 .menu {
      display: none; } }

main .carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center; }

main .btn-group {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center;
  transition-property: width;
  transition-duration: 2s; }
  main .btn-group .dropdown-menu {
    width: 100%; }
    main .btn-group .dropdown-menu li a {
      display: block;
      text-align: center;
      color: red;
      font-weight: bold;
      font-family: "Gaegu", cursive;
      font-size: x-large; }

main .parrafo {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center; }
  main .parrafo li {
    color: red;
    font-weight: bold;
    font-family: "Gaegu", cursive;
    font-size: x-large;
    display: inline-block;
    text-align: center; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      main .parrafo li {
        font-size: medium;
        display: block;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        align-self: center; } }

main .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center; }

main .btn {
  color: red;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center;
  width: auto;
  transition-timing-function: ease-in-out; }
  main .btn:is(:hover, :focus) {
    width: 50%; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    main .btn {
      font-size: medium;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      align-self: center; } }

.mainConteiner #video {
  padding: 15px 0px;
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner #video iframe {
      width: 460px;
      height: 200px; } }

@media screen and (min-width: 0px) and (max-width: 460px) {
  .mainConteiner .titulosExtra {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    font-size: 40px; } }

.mainConteiner .tracks {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner .tracks {
      display: none; } }
  .mainConteiner .tracks li {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    width: 400px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px; }

.mainConteiner .tracksMobile {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center; }
  @media screen and (min-width: 320px) and (max-width: 1440px) {
    .mainConteiner .tracksMobile {
      display: none; } }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner .tracksMobile {
      display: inline-block;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      align-self: center;
      width: 460px;
      height: 100%; }
    .mainConteiner .tracksMobile iframe {
      padding: 15px 0px;
      display: inline-block;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      align-self: center;
      width: 460px;
      height: 100%; } }
  .mainConteiner .tracksMobile li {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    width: 300px;
    height: 30px;
    padding-left: 50px;
    padding-right: 50px; }

.mainConteiner #descarga {
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner #descarga {
      width: 460px; } }
  .mainConteiner #descarga a {
    display: inline-flex;
    justify-content: space-around;
    padding: 0 40px; }
  .mainConteiner #descarga .logo {
    padding: 0px 10px;
    width: 40px;
    height: 25px;
    text-decoration: none;
    list-style-type: none;
    font-size: x-large; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      .mainConteiner #descarga .logo {
        width: 45px;
        height: 25px; } }

.mainConteiner .descargar {
  color: red;
  font-weight: bold;
  padding-top: 20px;
  font-family: "Sarpanch", sans-serif;
  font-size: xx-large;
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .mainConteiner .descargar {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      align-self: center;
      width: 460px; } }

main #merch {
  width: 70%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center; }
  main #merch #merchForm {
    font-family: "Gaegu", cursive;
    font-size: xx-large;
    color: red;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 30px; }
    @media screen and (min-width: 0px) and (max-width: 460px) {
      main #merch #merchForm {
        font-size: medium;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        align-self: center; } }
    main #merch #merchForm .buttonMerch {
      display: inline;
      color: red;
      font-weight: bold;
      font-family: "Gaegu", cursive;
      font-size: x-large;
      text-align: center;
      border: 10px;
      border-color: red;
      border-radius: 5px; }
      @media screen and (min-width: 0px) and (max-width: 460px) {
        main #merch #merchForm .buttonMerch {
          font-size: medium; } }

main div .card {
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24); }
  main div .card:is(:hover, :focus) {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px); }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    main div .card {
      width: 75%; } }
  main div .card .card-title {
    font-family: "Gaegu", cursive;
    text-align: center;
    color: red; }

@media screen and (min-width: 0px) and (max-width: 460px) {
  main .col {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center; } }

.container div .texto {
  color: red;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  font-size: x-large;
  display: inline-block;
  text-align: center; }

.container div .btn {
  color: red;
  font-weight: bold;
  font-family: "Gaegu", cursive;
  font-size: x-large;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center;
  width: auto;
  transition-timing-function: ease-in-out; }
  .container div .btn:is(:hover, :focus) {
    width: 50%; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .container div .btn {
      font-size: medium; } }

.footer2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px; }
  .footer2 .logo {
    width: 35px;
    height: 30px; }
    .footer2 .logo:is(:hover, :focus) {
      animation: pulse;
      animation-duration: 2s; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .footer2 {
      display: none; } }

* {
  padding: 0%;
  margin: 0%; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    * {
      overflow-x: hidden; } }

@media screen and (min-width: 0px) and (max-width: 460px) {
  body {
    background-color: black; } }

.titulosExtra, .titulosExtra2 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 50px;
  text-align: center;
  color: red;
  margin-top: 15px; }
  @media screen and (min-width: 0px) and (max-width: 460px) {
    .titulosExtra .titulosExtra, .titulosExtra2 .titulosExtra {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 40px; }
    .titulosExtra .titulosExtra2, .titulosExtra2 .titulosExtra2 {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 30px; } }

* {
  padding: 0;
  margin: 0; }
