.container div .texto{
    color: red; 
    font-weight: bold;
    @include fonts($text, $xl);
    display: inline-block;
    text-align: center;
    .btn{
        color: red; 
        font-weight: bold;
        @include fonts($text, $xl);
        display: flex;
        @include center;
        width: auto;
        transition-timing-function: ease-in-out;
        &:is(:hover, :focus) {
            width: 50%;
        }
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                font-size: medium;
            }
        }
    }
}

