.container div .texto{
    color: red; 
    font-weight: bold;
    font-family: 'Gaegu', cursive;
    display: inline-block;
    font-size: x-large;
    text-align: center;
    .btn{
        color: red; 
        font-weight: bold;
        font-family: 'Gaegu', cursive;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: x-large;
        width: auto;
        transition-timing-function: ease-in-out;
        &:is(:hover, :focus) {
            width: 50%;
        }
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                font-size: medium;
            }
        }
    }
}

