.mainConteiner{
    #video{
        padding: 15px 0px;
        text-align: center;
        @media screen and (min-width: 0px) and (max-width: 460px){
            & iframe{
                @include sizes(460px, 200px)
            }
        }
    }
    @media screen and (min-width: 0px) and (max-width: 460px){
        .titulosExtra{
            margin-top: 70px;
            display: flex;
            @include center;
            font-size: 40px;
        }
    }
    .tracks{
        @include center;
        @media screen and (min-width: 0px) and (max-width: 460px){
            display: none;
        }
        & li{
            display: inline-flex;
            text-align: center;
            justify-content: space-around;
            @include sizes(400px, 40px);
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .tracksMobile{
        @include center;
        @media screen and (min-width: 320px) and (max-width: 1440px){
            &{
                display: none;
            }
        }
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                display: inline-block;
                @include center;
                width: 460px;
            }
            & iframe{
                padding: 15px 0px;
            }
        }
        & li{
            display: inline-flex;
            text-align: center;
            justify-content: space-around;
            width: 300px;
            height: 30px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    #descarga{
        text-align: center;
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                width: 460px;
            }
        }
        .logo{
            padding: 0px 10px;
            @include sizes(40px, 25px);
            text-decoration: none;
            list-style-type: none;
            font-size: x-large;
            @media screen and (min-width: 0px) and (max-width: 460px){
                &{
                    @include sizes(45px, 25px);
                }
            }
        }        
    }
    .descargar{
        color: red; 
        font-weight: bold;
        padding-top: 20px;
        @include fonts($titles, $xxl);
        text-align: center;
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                display: flex;
                @include center;
                width: 460px;
            }
        }
    }
}