
.footer2{
    @extend header;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    .logo{
        width: 35px;
        height: 30px;
        &:is(:hover, :focus){
            animation: pulse;
            animation-duration: 2s;
        }
    }  
    @media screen and (min-width: 0px) and (max-width: 460px){
        &{
            display: none;
        }
    }  
}