.fondo{
    background: url(../img/fondo.desktop.jpeg) no-repeat fixed center center;
    background-size: cover;
    #titulo{
        font-family: 'Sarpanch', sans-serif;
        font-size: 100px;
        text-align: center;
        color: red;
        margin-top: 300px;
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                display: block;
                margin-top: 450px;
                justify-content: center;
                text-align: center;
            }
        }
    }
    @media screen and (min-width: 0px) and (max-width: 460px){
        &{
            width: 460px;
            height: 100%;
        }
    }
}
