.fondo{
    background: url(../img/fondo.desktop.jpeg) no-repeat fixed center center;
    background-size: cover;
    #titulo{
        @include fonts($titles, 100px);
        text-align: center;
        color: red;
        margin-top: 300px;
        @media screen and (min-width: 0px) and (max-width: 460px){
            &{
                display: block;
                margin-top: 450px;
                @include center;
            }
        }
    }
    @media screen and (min-width: 0px) and (max-width: 460px){
        &{
            @include sizes(460px, 100%);
        }
    }
}
